In [19]:
import pandas as pd
import numpy as np

In [20]:
data = pd.read_csv('example.csv')

In [21]:
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [22]:
data['review'] = data['review'].str.lower()
data['sentiment'] = data['sentiment'].str.lower()

In [23]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data['sentiment'] = le.fit_transform(data['sentiment'])

In [24]:
data

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      a wonderful little production. <br /><br />the...          1
2      i thought this was a wonderful way to spend ti...          1
3      basically there's a family where a little boy ...          0
4      petter mattei's "love in the time of money" is...          1
...                                                  ...        ...
49995  i thought this movie did a down right good job...          1
49996  bad plot, bad dialogue, bad acting, idiotic di...          0
49997  i am a catholic taught in parochial elementary...          0
49998  i'm going to have to disagree with the previou...          0
49999  no one expects the star trek movies to be high...          0

[50000 rows x 2 columns]

In [25]:
import re

data['review'] = data['review'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x)) 

data['review'] = data['review'].apply(lambda x: ' '.join(word for word in x.split() if len(word) > 1))

In [26]:
data

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      wonderful little production br br the filming ...          1
2      thought this was wonderful way to spend time o...          1
3      basically theres family where little boy jake ...          0
4      petter matteis love in the time of money is vi...          1
...                                                  ...        ...
49995  thought this movie did down right good job it ...          1
49996  bad plot bad dialogue bad acting idiotic direc...          0
49997  am catholic taught in parochial elementary sch...          0
49998  im going to have to disagree with the previous...          0
49999  no one expects the star trek movies to be high...          0

[50000 rows x 2 columns]

In [27]:
data['review'] = data['review'].str.replace('br', '')

In [28]:
data

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      wonderful little production   the filming tech...          1
2      thought this was wonderful way to spend time o...          1
3      basically theres family where little boy jake ...          0
4      petter matteis love in the time of money is vi...          1
...                                                  ...        ...
49995  thought this movie did down right good job it ...          1
49996  bad plot bad dialogue bad acting idiotic direc...          0
49997  am catholic taught in parochial elementary sch...          0
49998  im going to have to disagree with the previous...          0
49999  no one expects the star trek movies to be high...          0

[50000 rows x 2 columns]

In [29]:
from sklearn.feature_extraction.text import CountVectorizer 
import pandas as pd 

vectorizer = CountVectorizer() 
X = vectorizer.fit_transform(data['review']) 

print(X.shape)
data

(50000, 166501)

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      wonderful little production   the filming tech...          1
2      thought this was wonderful way to spend time o...          1
3      basically theres family where little boy jake ...          0
4      petter matteis love in the time of money is vi...          1
...                                                  ...        ...
49995  thought this movie did down right good job it ...          1
49996  bad plot bad dialogue bad acting idiotic direc...          0
49997  am catholic taught in parochial elementary sch...          0
49998  im going to have to disagree with the previous...          0
49999  no one expects the star trek movies to be high...          0

[50000 rows x 2 columns]

In [30]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

# Загрузка датасета
df = data

# Удаление стоп-слов для английского языка
stop_words = set(stopwords.words('english'))
df['review'] = df['review'].apply(lambda x: ' '.join([word for word in x.lower().split() if word not in stop_words]))

# Проверка результата
print(df.head())

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                              review  sentiment
0  one reviewers mentioned watching oz episode yo...          1
1  wonderful little production filming technique ...          1
2  thought wonderful way spend time hot summer we...          1
3  basically theres family little boy jake thinks...          0
4  petter matteis love time money visually stunni...          1

In [31]:
data

                                                  review  sentiment
0      one reviewers mentioned watching oz episode yo...          1
1      wonderful little production filming technique ...          1
2      thought wonderful way spend time hot summer we...          1
3      basically theres family little boy jake thinks...          0
4      petter matteis love time money visually stunni...          1
...                                                  ...        ...
49995  thought movie right good job wasnt creative or...          1
49996  bad plot bad dialogue bad acting idiotic direc...          0
49997  catholic taught parochial elementary schools n...          0
49998  im going disagree previous comment side maltin...          0
49999  one expects star trek movies high art fans exp...          0

[50000 rows x 2 columns]

In [32]:
import pandas as pd
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords



# удаление стоп-слов для английского языка
stop_words = set(stopwords.words('english'))
df['review'] = df['review'].apply(lambda x: ' '.join([word for word in x.lower().split() if word not in stop_words]))

# стемминг каждого слова в тексте датасета
ps = PorterStemmer()
df['review'] = df['review'].apply(lambda x: ' '.join([ps.stem(word) for word in x.lower().split()]))

# проверка результата
print(df.head())

                                              review  sentiment
0  one review mention watch oz episod youll hook ...          1
1  wonder littl product film techniqu unassum old...          1
2  thought wonder way spend time hot summer weeke...          1
3  basic there famili littl boy jake think there ...          0
4  petter mattei love time money visual stun film...          1

In [33]:
# import pandas as pd
# import nltk
# from nltk.tokenize import word_tokenize

# # загрузка датасета
# df = data

# # настройки токенизации (удаление пунктуации и цифр)
# tokenizer = nltk.RegexpTokenizer(r'\w+')

# # токенизация каждой строки в столбце 'text'
# df['review'] = df['review'].apply(lambda x: tokenizer.tokenize(x.lower()))

# # проверка результата
# print(df.head())

In [34]:
data

                                                  review  sentiment
0      one review mention watch oz episod youll hook ...          1
1      wonder littl product film techniqu unassum old...          1
2      thought wonder way spend time hot summer weeke...          1
3      basic there famili littl boy jake think there ...          0
4      petter mattei love time money visual stun film...          1
...                                                  ...        ...
49995  thought movi right good job wasnt creativ orig...          1
49996  bad plot bad dialogu bad act idiot direct anno...          0
49997  cathol taught parochi elementari school nun ta...          0
49998  im go disagre previou comment side maltin one ...          0
49999  one expect star trek movi high art fan expect ...          0

[50000 rows x 2 columns]

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()  
X = vectorizer.fit_transform(data['review'].values.astype('U'))
y = data['sentiment'].values

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [49]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(random_state=0).fit(X_train, y_train)

/usr/local/lib/python3.9/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [50]:
x_pred = log_reg.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, x_pred)

0.8813333333333333