In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('example.csv', on_bad_lines='skip')

In [ ]:
data

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
99225  I thought this movie did a down right good job...  positive
99226  Bad plot, bad dialogue, bad acting, idiotic di...  negative
99227  I am a Catholic taught in parochial elementary...  negative
99228  I'm going to have to disagree with the previou...  negative
99229  No one expects the Star Trek movies to be high...  negative

[99230 rows x 2 columns]

In [ ]:
data['review'] = data['review'].str.lower()
data['sentiment'] = data['sentiment'].str.lower()

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data['sentiment'] = le.fit_transform(data['sentiment'])

In [ ]:
data

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      a wonderful little production. <br /><br />the...          1
2      i thought this was a wonderful way to spend ti...          1
3      basically there's a family where a little boy ...          0
4      petter mattei's "love in the time of money" is...          1
...                                                  ...        ...
99225  i thought this movie did a down right good job...          1
99226  bad plot, bad dialogue, bad acting, idiotic di...          0
99227  i am a catholic taught in parochial elementary...          0
99228  i'm going to have to disagree with the previou...          0
99229  no one expects the star trek movies to be high...          0

[99230 rows x 2 columns]

In [ ]:
import re

data['review'] = data['review'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x)) 

data['review'] = data['review'].apply(lambda x: ' '.join(word for word in x.split() if len(word) > 1))

In [ ]:
data

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      wonderful little production br br the filming ...          1
2      thought this was wonderful way to spend time o...          1
3      basically theres family where little boy jake ...          0
4      petter matteis love in the time of money is vi...          1
...                                                  ...        ...
99225  thought this movie did down right good job it ...          1
99226  bad plot bad dialogue bad acting idiotic direc...          0
99227  am catholic taught in parochial elementary sch...          0
99228  im going to have to disagree with the previous...          0
99229  no one expects the star trek movies to be high...          0

[99230 rows x 2 columns]

In [ ]:
data['review'] = data['review'].str.replace('br', '')

In [ ]:
data

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      wonderful little production   the filming tech...          1
2      thought this was wonderful way to spend time o...          1
3      basically theres family where little boy jake ...          0
4      petter matteis love in the time of money is vi...          1
...                                                  ...        ...
99225  thought this movie did down right good job it ...          1
99226  bad plot bad dialogue bad acting idiotic direc...          0
99227  am catholic taught in parochial elementary sch...          0
99228  im going to have to disagree with the previous...          0
99229  no one expects the star trek movies to be high...          0

[99230 rows x 2 columns]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer 
import pandas as pd 

vectorizer = CountVectorizer() 
X = vectorizer.fit_transform(data['review']) 

print(X.shape)
data

(99230, 166539)

                                                  review  sentiment
0      one of the other reviewers has mentioned that ...          1
1      wonderful little production   the filming tech...          1
2      thought this was wonderful way to spend time o...          1
3      basically theres family where little boy jake ...          0
4      petter matteis love in the time of money is vi...          1
...                                                  ...        ...
99225  thought this movie did down right good job it ...          1
99226  bad plot bad dialogue bad acting idiotic direc...          0
99227  am catholic taught in parochial elementary sch...          0
99228  im going to have to disagree with the previous...          0
99229  no one expects the star trek movies to be high...          0

[99230 rows x 2 columns]

In [ ]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

# Загрузка датасета
df = data

# Удаление стоп-слов для английского языка
stop_words = set(stopwords.words('english'))
df['review'] = df['review'].apply(lambda x: ' '.join([word for word in x.lower().split() if word not in stop_words]))

# Проверка результата
print(df.head())

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                              review  sentiment
0  one reviewers mentioned watching oz episode yo...          1
1  wonderful little production filming technique ...          1
2  thought wonderful way spend time hot summer we...          1
3  basically theres family little boy jake thinks...          0
4  petter matteis love time money visually stunni...          1

In [ ]:
data

                                                  review  sentiment
0      one reviewers mentioned watching oz episode yo...          1
1      wonderful little production filming technique ...          1
2      thought wonderful way spend time hot summer we...          1
3      basically theres family little boy jake thinks...          0
4      petter matteis love time money visually stunni...          1
...                                                  ...        ...
99225  thought movie right good job wasnt creative or...          1
99226  bad plot bad dialogue bad acting idiotic direc...          0
99227  catholic taught parochial elementary schools n...          0
99228  im going disagree previous comment side maltin...          0
99229  one expects star trek movies high art fans exp...          0

[99230 rows x 2 columns]

In [ ]:
import pandas as pd
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords



# удаление стоп-слов для английского языка
stop_words = set(stopwords.words('english'))
df['review'] = df['review'].apply(lambda x: ' '.join([word for word in x.lower().split() if word not in stop_words]))

# стемминг каждого слова в тексте датасета
ps = PorterStemmer()
df['review'] = df['review'].apply(lambda x: ' '.join([ps.stem(word) for word in x.lower().split()]))

# проверка результата
print(df.head())

                                              review  sentiment
0  one review mention watch oz episod youll hook ...          1
1  wonder littl product film techniqu unassum old...          1
2  thought wonder way spend time hot summer weeke...          1
3  basic famili littl boy jake think zombi closet...          0
4  petter mattei love time money visual stun film...          1

In [ ]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize

# загрузка датасета
df = data

# настройки токенизации (удаление пунктуации и цифр)
tokenizer = nltk.RegexpTokenizer(r'\w+')

# токенизация каждой строки в столбце 'text'
df['review'] = df['review'].apply(lambda x: tokenizer.tokenize(x.lower()))

# проверка результата
print(df.head())

                                              review  sentiment
0  [one, of, the, other, reviewers, has, mentione...          1
1  [wonderful, little, production, the, filming, ...          1
2  [thought, this, was, wonderful, way, to, spend...          1
3  [basically, theres, family, where, little, boy...          0
4  [petter, matteis, love, in, the, time, of, mon...          1

In [ ]:
data

                                                  review  sentiment
0      [one, of, the, other, reviewers, has, mentione...          1
1      [wonderful, little, production, the, filming, ...          1
2      [thought, this, was, wonderful, way, to, spend...          1
3      [basically, theres, family, where, little, boy...          0
4      [petter, matteis, love, in, the, time, of, mon...          1
...                                                  ...        ...
99225  [thought, this, movie, did, down, right, good,...          1
99226  [bad, plot, bad, dialogue, bad, acting, idioti...          0
99227  [am, catholic, taught, in, parochial, elementa...          0
99228  [im, going, to, have, to, disagree, with, the,...          0
99229  [no, one, expects, the, star, trek, movies, to...          0

[99230 rows x 2 columns]